---
layout: default
category: it
---

<style>
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .th {
    background: green;
  }

  #articleList {
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }

  #articleList #wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  #articleList #list {
    width: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 48px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 0;
  }

  #articleList #list-checkbox:checked~#list {
    height: 100%;
  }

  #articleList #data {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    background-color: gray;
    z-index: -1;
  }

  #articleList .th {
    min-width: 240px;
    width: 240px;
    height: 150px;
    margin: 5px;
    flex-grow: 1;
    transform: scale(1);
    display: initial;
    opacity: 1;
    transition: height 1s, width 1s, opacity 1s;
  }

  @media all and (min-width: 720px) and (orientation: landscape) {
    #articleList #wrapper {
      flex-direction: row;
    }

    #articleList #list {
      max-width: 320px;
      margin-right: 10px;
    }

    #articleList #data {
      padding-top: initial;
      max-width: 1200px;
    }

    #articleList #list {
      position: initial;
      height: initial;
    }
  }

  #articleList .th[data-cat="a"],
  #articleList .th[data-cat="b"],
  #articleList .th[data-cat="c"],
  #articleList .th[data-cat="d"],
  #articleList .th[data-cat="e"],
  #articleList .th[data-cat="f"],
  #articleList .th[data-cat="g"],
  #articleList .th[data-cat="h"] {
    background-color: red;
  }

  #articleList #catFilter-a:checked~#list label[for="catFilter-a"],
  #articleList #catFilter-b:checked~#list label[for="catFilter-b"],
  #articleList #catFilter-c:checked~#list label[for="catFilter-c"],
  #articleList #catFilter-d:checked~#list label[for="catFilter-d"],
  #articleList #catFilter-e:checked~#list label[for="catFilter-e"],
  #articleList #catFilter-f:checked~#list label[for="catFilter-f"],
  #articleList #catFilter-g:checked~#list label[for="catFilter-g"],
  #articleList #catFilter-h:checked~#list label[for="catFilter-h"] {
    background-color: red;
  }

  #articleList #catFilter-a:checked~#data *[data-cat="a"],
  #articleList #catFilter-b:checked~#data *[data-cat="b"],
  #articleList #catFilter-c:checked~#data *[data-cat="c"],
  #articleList #catFilter-d:checked~#data *[data-cat="d"],
  #articleList #catFilter-e:checked~#data *[data-cat="e"],
  #articleList #catFilter-f:checked~#data *[data-cat="f"],
  #articleList #catFilter-g:checked~#data *[data-cat="g"],
  #articleList #catFilter-h:checked~#data *[data-cat="h"] {
    display: none
  }

  #articleList #wrapper input[type="checkbox"] {
    display: none;
  }
</style>
{% assign posts = site.posts | where: "category", "it" | where: "layout", "blog" %}
{% assign tags = '' %}
{% for item in posts %}
  {% unless tags contains posts.tag %}
    <!-- {% capture tags %}{{ tags }}|{{ post.tag }}{% endcapture %} -->
    {{ tags }}|{{ post.tag }}
  {% endunless %}
{% endfor %}
{% assign newtags  = tags | split: '|' %}

<!-- {% for post in posts %}
	<a href="{{ post.url }}">
		{{ post.title }}
	</a><br/>
{% endfor %} -->
{{ tags }}<hr />{{ newtags }}
<div id="articleList">
  <div id="wrapper">
    {% for tag in newtags %}
      <input type="checkbox" id="catFilter-{{ tag | slugify }}" />
    {% endfor %}
    <input type="checkbox" id="list-checkbox" />
    <div id="list">
      <label for="list-checkbox">Categorie</label>
      <ul>
        {% for tag in newtags %}
          <li>
            <label for="catFilter-{{ tag | slugify }}">- {{ tag }} ? </label>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="data">
      {% for post in posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="th" data-cat="{{ post.tag | slugify }}"><img
          src="{{ post.th }}" />{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>