---
layout: default
category: it
---

{% assign posts = site.posts | where: "category", "it" | where: "layout", "blog" %}
{% assign tags = posts | map: 'tag' | compact | uniq | sort_natural %}
<style>
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .th {
    background: green;
  }

  #articleList {
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }

  #articleList #wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  #articleList #list {
    width: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 48px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 0;
  }

  #articleList #list-checkbox:checked~#list {
    height: 100%;
  }

  #articleList #data {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    background-color: gray;
    z-index: -1;
  }

  #articleList .th {
    min-width: 240px;
    width: 240px;
    height: 150px;
    margin: 5px;
    flex-grow: 1;
    transform: scale(1);
    display: initial;
    opacity: 1;
    transition: height 1s, width 1s, opacity 1s;
  }

  @media all and (min-width: 720px) and (orientation: landscape) {
    #articleList #wrapper {
      flex-direction: row;
    }

    #articleList #list {
      max-width: 320px;
      margin-right: 10px;
    }

    #articleList #data {
      padding-top: initial;
      max-width: 1200px;
    }

    #articleList #list {
      position: initial;
      height: initial;
    }
  }

  #articleList #wrapper input[type="checkbox"] {
    display: none;
  }

  {% for tag in tags %}
    #articleList #catFilter-{{ tag | slugify }}:checked ~ #data *[data-cat="{{ tag | slugify }}"] {
      display: none;
    }

    #articleList #catFilter-{{ tag | slugify }}:checked ~ #list label[for="catFilter-{{ tag | slugify }}"] {
      background-color: red;
    }

    #articleList .th[data-cat="{{ tag | slugify }}"]{
      background-color: red
    }
  {% endfor %}
</style>
<div id="articleList">
  <div id="wrapper">
    {% for tag in tags %}
      <input type="checkbox" id="catFilter-{{ tag | slugify }}" />
    {% endfor %}
    <input type="checkbox" id="list-checkbox" />
    <div id="list">
      <label for="list-checkbox">Categorie</label>
      <ul>
        {% for tag in tags %}
          <li>
            <label for="catFilter-{{ tag | slugify }}">{{ tag }}</label>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="data">
      {% for post in posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="th" data-cat="{{ post.tag | slugify }}"><img
          src="{{ post.th }}" />{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>