</div>
<footer id="site-footer">
	<p>
		<a href="mailto:info@svoltastudenti.it" target="_blank">&copy Svoltastudenti {{ "now" }}</a><br />
		C.F: | P.IVA:<br />
		<a href="https://goo.gl/maps/f8vZiRGUhH15htwo8" target="_blank">
			Via Bonardi 9 20133 Milano, Italy
		</a>
	</p>
	<p>
		<a href="https://www.iubenda.com/privacy-policy/27818292/cookie-policy" target="_blank">Cookie Policy</a><br />
		<a href="https://www.iubenda.com/privacy-policy/27818292" target="_blank">Privacy Policy</a><br />
		<a href="/admin">Log In</a>
	</p>
</footer>
