<div id="site-footer" class="footer">
	<p style="text-align: left">
		<ul>
			<a href="https://www.facebook.com/svoltastudenti">Facebook</a>
			<a href="https://www.twitter.com/svoltastudenti">Twitter</a>
			<a href="https://www.instagram.com/svoltastudenti">Instagram</a>
		</ul>
	</p>
	<p style="text-align: right">
		&copy; <a href="mailto:info@svoltastudenti.it" target="_blank">Svoltastudenti</a> {{ 'now' | date: "%Y" }}<br />
		Via Bonardi 9, 20133 Milano, Italy <br />
		<a href="https://www.iubenda.com/privacy-policy/27818292" target="_blank">Privacy</a> | P.IVA: | C.F.:
	</p>
</div>
