<header id="site-header">
	<a href="https://store.svoltastudenti.it">
		<picture>
			<source height="35px" srcset="/assets/img/highlight.svg">
			<img src="/assets/img/highlight.png" height="35px" alt="highlight">
		</picture>
	</a>
	<picture>
		<source media="(min-width: 720px)" height="35px" srcset="/assets/img/logo_big.svg">
		<source media="(max-width: 720px)" height="35px" srcset="/assets/img/logo_small.svg">
		<img src="/assets/img/logo_small.png" height="35px" alt="logo">
	</picture>
	<label for="site-menu-checkbox" style="cursor: pointer">
		<picture>
			<source height="35px" srcset="/assets/img/menu.svg">
			<img src="/assets/img/highlight.png" height="35px" alt="Menu">
		</picture>
	</label>
</header>
<div style="position: relative; flex-grow: 1; flex-shrink: 1;">
	<input type="checkbox" id="site-menu-checkbox" style="display: none">
	<div id="site-menu">
		<nav>
			<a href="/">Home</a>
			<a href="/rappresentanza">Rappresentanza</a>
			<a href="/associazione">Associazione</a>
			<a href="/notizie">Notizie</a>
			<a href="/eventi">Eventi</a>
			<div>
				<a href="https://www.facebook.com/svoltastudenti" target="_blank">
					<img src="/assets/img/facebook.png" height="35px" />
				</a>
				<a href="https://www.twitter.com/svoltastudenti" target="_blank">
					<img src="/assets/img/twitter.png" height="35px" />
				</a>
				<a href="https://www.instagram.com/svoltastudenti" target="_blank">
					<img src="/assets/img/instagram.png" height="35px" />
				</a>
				<a href="mailto:info@svoltastudenti.it" target="_blank">
					<img src="/assets/img/email.png" height="35px" />
				</a>
			</div>
		</nav>
		<div id="newspaper" style="flex-grow: 1; flex-shrink: 1">
			Loading latest news from our newspaper...
		</div>
	</div>
