<div id="site-header">
	<div id="site-header-content">
		<a href="https://svoltastudenti.it/">
			<amp-img src="/assets/img/logo.png" layout="fixed" width="50" height="50" alt="Svoltastudenti"></amp-img>
		</a>
		<a href="https://blog.svoltastudenti.it/">
			<amp-img src="/assets/img/text.png" layout="fixed" width="184" height="50" alt="Svoltastudenti"></amp-img>
		</a>
		<div class="flex-grow"></div>
		<a href="https://eventi.svoltastudenti.it/">
			<amp-img src="/assets/img/events.png" layout="fixed" width="50" height="50" alt="Events"></amp-img>
		</a>
	</div>
	<div id="site-header-background"></div>
	<div id="site-header-gradient"></div>
</div>