<head>
  <link rel="icon" href="/assets/img/favicon.png" type="image/png">

  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="theme-color" content="#f60">
  <meta name="msapplication-navbutton-color" content="#f60">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <style>
    {% include style.css %}
  </style>
  
  <style>
    {% include latofonts.css %}
  </style>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <title>
    {{page.title}} | Svoltastudenti
  </title>
</head>
