	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="#FF6600">
		<meta name="msapplication-navbutton-color" content="#FF6600">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="application-name" content="Svoltastudenti">
		<meta name="apple-mobile-web-app-title" content="Svoltastudenti">
		<meta name="description" content="Svoltastudenti">
		<meta name="keywords" content="Svoltastudenti">
		<meta name="author" content="Svoltastudenti">

		<link rel="icon" href="/assets/img/favicon.png" type="image/png">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<title>
			Home Page | Svoltastudenti
		</title>

		<style>
			{% include style.css %}
		</style>

		<style>
			{% include latofonts.css %}
		</style>
</head>
