<div class="site-nav">
	<nav>
		<a href="/">Home</a>
		<a href="/rappresentanza">Rappresentanza</a>
		<a href="/associazione">Associazione</a>
		<a href="/notizie">Notizie</a>
		<a href="/eventi">Eventi</a>
		<a href="/faq">FAQ</a>
		<div>
			<a href="https://www.facebook.com/svoltastudenti" rel="noopener" target="_blank">
				<img src="/assets/img/facebook.svg" height="36" alt="Facebook"/>
			</a>
			<a href="https://www.twitter.com/svoltastudenti" rel="noopener" target="_blank">
				<img src="/assets/img/twitter.svg" height="36" alt="Twitter" />
			</a>
			<a href="https://www.instagram.com/svoltastudenti" rel="noopener" target="_blank">
				<img src="/assets/img/instagram.svg" height="36" alt="Instagram" />
			</a>
			<a href="mailto:info@svoltastudenti.it" rel="noopener" target="_blank">
				<img src="/assets/img/email.svg" height="36" alt="Email" />
			</a>
			<a href="/legal" rel="noopener" target="_blank">
				<img src="/assets/img/legal.svg" height="36" alt="Legal" />
			</a>
		</div>
	</nav>
	<div id="newspaper" style="flex-grow: 1; flex-shrink: 1">
		Loading latest news from our newspaper...
	</div>
</div>
