html, body {
	margin: 0;
	padding: 0;
}

#site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	overflow: hidden;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#site-nav {
	background-color: red;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
}

#site-nav a:hover {
	background-color: black;
}

/* #site-content {
	/* Contenuto della pagina (equivalente alla pagina in wordpress) */
	margin-top: 10px;
} */
/*
