@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#menu {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  background: white;
  clip-path: circle(25px at right 50px top 50px);
}

label[for="menu-checkbox"] {
  position: absolute;
  top: 50px;
  right: 5vw;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: black;
}

.menu-header {
  color: gray;
  font-size: 50px;
  margin-top: 50px;
}

/* header label {
  z-index: 11;
  width: 50px;
  height: 50px;
  color: red;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 95vw;
  top: 50px;
  background-color: white;
  border-radius: 9999em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
} */

#menu-nav {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  background: white;
  -webkit-clip-path: circle(25px at 95vw 50px);
          clip-path: circle(25px at 95vw 50px);
}

header nav > * {
  flex: 50%;
}

@media (orientation: portrait) {
  header nav {
    flex-direction: column;
  }
}

header nav ul {
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  margin: 20px;
  margin-left: 5vw;
  overflow: hidden;
}

header nav ul li a {
  position: relative;
  font-size: 4vw;
  font-weight: bolder;
  color: #ff6600;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header nav ul h1 {
  text-align: center;
  color: white;
  margin: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
} */

#menu-checkbox {
/*   display: none; */
  position: fixed;
  z-index: 1000;
}

#menu {
  animation: menu 0.5s ease-out forwards;
}

#menu-checkbox:not(:checked) + #menu {
  pointer-events: none;
  animation-direction: reverse;
}

#menu-checkbox:checked ~ #menu a {
  -webkit-animation: FadeIn 0.5s ease-out;
          animation: FadeIn 0.5s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #ff6600;
}

#menu-checkbox:checked ~ #menu li {
  -webkit-animation: FadeIn 0.5s ease-in-out;
          animation: FadeIn 0.5s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#menu-checkbox:checked ~ #menu li:nth-child(1) a {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#menu-checkbox:checked ~ #menu li:nth-child(2) a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#menu-checkbox:checked ~ #menu li:nth-child(3) a {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

#menu-checkbox:checked ~ #menu li:nth-child(4) a {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#menu-checkbox:checked ~ #menu li:nth-child(5) a {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@keyframes menu {
  from {
    clip-path: circle(25px at right 50px top 50px);
  }
  
  to {
    clip-path: circle(100%);
  }
}

@keyframes slideIn {
  0% {
/*     visibility: visible; */
/*     opacity: 1; */
  }
  1% {
    -webkit-clip-path: circle(25px at 95vw 50px);
            clip-path: circle(25px at 95vw 50px);
  }
  100% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
}

@keyframes slideOut {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  99% {
    opacity: 1;
    visibility: visible;
    -webkit-clip-path: circle(25px at 95vw 50px);
            clip-path: circle(25px at 95vw 50px);
  }
  100% {
/*     opacity: 0; */
/*     visibility: hidden; */
  }
}

@keyframes FadeIn {
  from {
    top: -500px;
  }
  to {
    top: 0px;
  }
}
/*# sourceMappingURL=nav.css.map */
