@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$colors: (primary: #ff6600,
    primary-light: lighten(#005DFF, 40%),
    primary-dark: darken(#005DFF, 40%),
    accent: #FFF6BB);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    // overflow: hidden;
    scroll-behavior: smooth;
}

body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    display: none;
}

header {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    clip-path: circle(25px at 95vw 50px);
    transition: all 0.5s ease-out;
    cursor: pointer;

    ul {
        padding: 0;
        list-style-type: none;

        li {
            margin: 20px;
        }

        h1{
            text-align: center;
        }
    }

    a {
        font-size: 3vw;
        font-weight: bolder;
        color: color(primary);
        text-decoration: none;
        box-sizing: border-box;
        transition-delay: 1s;
        transition-duration: 2s;
    }
}


#menu {
    opacity: 0;
    z-index: 5;
    position: fixed;
    top: 30px;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, 0);

    &:checked+header {
        clip-path: circle(75%);
        background: white;

        a {
            color: red;
        }

        li {
            animation: FadeIn 0.5s ease-in-out;
            animation-fill-mode: both;
        }

        li:nth-child(1) {
            animation-delay: 0.25s
        }

        li:nth-child(2) {
            animation-delay: 0.5s
        }

        li:nth-child(3) {
            animation-delay: 0.75s
        }

        li:nth-child(4) {
            animation-delay: 1.0s
        }

        @keyframes FadeIn {
            0% {
                opacity: 0;
                transform: scale(.1);
            }

            85% {
                opacity: 1;
                transform: scale(1.05);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}


#homepage {
    section {
        height: 100vh;
        width: 100vw;
        margin: 0;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro {
        height: 100vh;
        width: 100%;

        #logo {
            position: absolute;
            z-index: 1;
            width: 50%;
        }

        #sfondo {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

#associazione {
    section {
        height: 100vh;
        width: 100vw;
        margin: 0;
        top: 0;
        left: 0;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .griglia {
        grid-template-columns: 50% 50%;
    }
}

.contatti {
    background-color: lightblue;
}
