---
layout: default
---
<style>
	article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;
	}

	article > * {
		max-width: 540px;
	}

	article header img {
		width: 100%;
	}
	article footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	article footer > * {
		width: 48%;
	}
</style>
<article>
	<header>
		<p>
			{{page.date | date: "%-d %B %Y" }} - {{ page.authors | join: "," }}
		</p>
<!-- 			<h1>
			{{ page.title }}
		</h1> -->
		<p>
			{{ page.tags | join: "," }}
		</p><!-- <img src="{{ page.image }}" alt="" /> -->
		<img src="https://source.unsplash.com/MG8c-4n1QVE/540x540" alt="" />
	</header>
	<div class="article-content">
		{{content}}
	</div>
	<footer>
		<a style="text-align: left" href="{{page.previous.url}}">
			{% if page.previous.url %}&laquo; {{page.previous.title}}{% endif %}
		</a>
		<a style="text-align: right" href="{{page.next.url}}">
			{% if page.next.url %}{{page.next.title}} &raquo;{% endif %}
		</a>
	</footer>
</article>
