---
layout: article
---
<header>
	<h1>
		{{ page.title }}
	</h1>
	<time pubdate datetime="{{ page.date }}" id="pubdate">{{ page.date | date: "%-d %B %Y" }}</time>
</header>
<div id="content">
	{{ content | replace: "<img", '<amp-img layout="fixed-height" height="200"' | replace: '</img', '</amp-img>' }}
</div>
<footer>
	<ul id="authors">
		{% for author in page.authors %}
			<li>
        {% if page.category == "it"  %}
          <a href="/it/utenti/{{ author.title | slugify }}">
        {% endif %}
        {% if page.category == "en"  %}
          <a href="/en/users/{{ author.title | slugify }}">
        {% endif %}
          <amp-img layout="fixed" height="76" width="76" src="{{ author.th }}" alt="{{ author.title }}"></amp-img>
        </a>
      </li>
    {% endfor %}
  </ul>
</footer>