@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

header {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
}

header label {
  z-index: 11;
  width: 50px;
  height: 50px;
  color: red;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 95vw;
  top: 50px;
  background-color: white;
  border-radius: 9999em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

header nav {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background: white;
  -webkit-clip-path: circle(25px at 95vw 50px);
          clip-path: circle(25px at 95vw 50px);
}

header nav ul {
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  margin: 20px;
  margin-left: 5vw;
  overflow: hidden;
}

header nav ul li a {
  position: relative;
  font-size: 4vw;
  font-weight: bolder;
  color: #ff6600;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav ul h1 {
  text-align: center;
  color: white;
  margin: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header input {
  display: none;
}

header input:not(:checked) + nav {
  -webkit-animation: slideOut 0.5s ease-out both;
          animation: slideOut 0.5s ease-out both;
  pointer-events: none;
}

header input:checked + nav {
  -webkit-animation: slideIn 0.5s ease-in both;
          animation: slideIn 0.5s ease-in both;
}

header input:checked + nav a {
  -webkit-animation: FadeIn 0.5s ease-out;
          animation: FadeIn 0.5s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #ff6600;
}

header input:checked + nav li {
  -webkit-animation: FadeIn 0.5s ease-in-out;
          animation: FadeIn 0.5s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

header input:checked + nav li:nth-child(1) a {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

header input:checked + nav li:nth-child(2) a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

header input:checked + nav li:nth-child(3) a {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

header input:checked + nav li:nth-child(4) a {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

header input:checked + nav li:nth-child(5) a {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@-webkit-keyframes slideIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  1% {
    -webkit-clip-path: circle(25px at 95vw 50px);
            clip-path: circle(25px at 95vw 50px);
  }
  100% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
}

@keyframes slideIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  1% {
    -webkit-clip-path: circle(25px at 95vw 50px);
            clip-path: circle(25px at 95vw 50px);
  }
  100% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  99% {
    opacity: 1;
    visibility: visible;
    -webkit-clip-path: circle(25px at 95vw 50px);
            clip-path: circle(25px at 95vw 50px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideOut {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  99% {
    opacity: 1;
    visibility: visible;
    -webkit-clip-path: circle(25px at 95vw 50px);
            clip-path: circle(25px at 95vw 50px);
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes FadeIn {
  from {
    top: -500px;
  }
  to {
    top: 0px;
  }
}

@keyframes FadeIn {
  from {
    top: -500px;
  }
  to {
    top: 0px;
  }
}

footer {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h6 {
  font-size: 5rem;
  font-weight: bold;
  color: #ff6600;
}

#homepage section {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: black;
}

#homepage section img {
  position: absolute;
  z-index: 1;
  width: 50%;
}

#homepage section video {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(2) grayscale(100%) sepia(100%) hue-rotate(330deg);
          filter: brightness(2) grayscale(100%) sepia(100%) hue-rotate(330deg);
}

h2 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-top: 40vh;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  color: white;
  position: -webkit-sticky;
  position: sticky;
}

#associazione section {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#associazione section:nth-child(1) {
  height: 350vh;
  width: 100vw;
  background-color: burlywood;
}

#associazione section:nth-child(1) h1 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff6600;
  color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  font-size: 10vw;
  font-weight: bold;
}

#associazione section:nth-child(1) img {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#associazione section:nth-child(1) article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 120vh;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#associazione section:nth-child(1) article p {
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: left;
  font-weight: 200;
  font-size: 2rem;
  color: white;
}

#associazione section:nth-child(2) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 250vh;
  width: 100vw;
  background-color: goldenrod;
}

#associazione section:nth-child(2) article {
  position: absolute;
  top: 500vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#associazione section:nth-child(3) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  background-color: goldenrod;
}

#associazione section:nth-child(3) article {
  position: absolute;
  top: 700vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#associazione section:nth-child(4) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  background-color: goldenrod;
}

#associazione section:nth-child(4) article {
  position: absolute;
  top: 900vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#rappresentanza section {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#rappresentanza section:nth-child(1) {
  height: 350vh;
  width: 100vw;
  background-color: burlywood;
}

#rappresentanza section:nth-child(1) h1 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff6600;
  color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  font-size: 10vw;
  font-weight: bold;
}

#rappresentanza section:nth-child(1) img {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#rappresentanza section:nth-child(1) article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 120vh;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#rappresentanza section:nth-child(1) article p {
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: left;
  font-weight: 200;
  font-size: 2rem;
  color: white;
}

#rappresentanza section:nth-child(2) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 250vh;
  width: 100vw;
  background-color: goldenrod;
}

#rappresentanza section:nth-child(2) article {
  position: absolute;
  top: 500vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#rappresentanza section:nth-child(3) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  background-color: goldenrod;
}

#rappresentanza section:nth-child(3) article {
  position: absolute;
  top: 700vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#rappresentanza section:nth-child(4) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  background-color: goldenrod;
}

#rappresentanza section:nth-child(4) article {
  position: absolute;
  top: 900vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#rappresentanza section:nth-child(5) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  background-color: goldenrod;
}

#rappresentanza section:nth-child(5) article {
  position: absolute;
  top: 1100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: #ff6600;
  height: 100vh;
  z-index: 3;
}

#notizie section:nth-child(1) {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100px;
  width: 100vw;
  z-index: 2;
  background-color: #ff6600;
}

#notizie section:nth-child(1) img {
  position: fixed;
  left: 50vw;
  top: 5.5vh;
  width: 20vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#notizie section:nth-child(2) {
  top: 150px;
  width: 100vw;
  margin-left: 10vw;
  margin-right: 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10vw, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  position: absolute;
}

#notizie section:nth-child(2) a {
  width: 20vw;
  height: 14vw;
  border-radius: 20px;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
}

#notizie section:nth-child(2) a h4 {
  color: white;
  z-index: 1;
}

#articolo section {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 20vh;
  width: 100vw;
  background-color: #ff6600;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
}

#articolo article {
  margin-top: 300px;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-bottom: 150px;
  font-size: 1.2rem;
  text-align: justify;
  font-weight: lighter;
}
/*# sourceMappingURL=style.css.map */