@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$arancio: #ff6600;

@mixin default {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

@mixin spacing {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

html,
body {
    @include default();
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

header {
    @include default();
    z-index: 10;
    position: fixed;

    label {
        z-index: 11;
        width: 50px;
        height: 50px;
        color: red;
        position: absolute;
        @include flex();
        left: 95vw;
        top: 50px;
        background-color: white;
        border-radius: 9999em;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    nav {
        @include default();
        @include grid();
        position: fixed;
        background: white;
        clip-path: circle(25px at 95vw 50px);

        ul {
            padding: 0;
            list-style-type: none;

            li {
                margin: 20px;
                margin-left: 5vw;
                overflow: hidden;

                a {
                    position: relative;
                    font-size: 4vw;
                    font-weight: bolder;
                    color: #ff6600;
                    text-decoration: none;
                    box-sizing: border-box;
                }
            }

            h1 {
                text-align: center;
                color: white;
                margin: 50vh;
                transform: translate(-50%, -50%);
            }
        }
    }

    input {
        display: none;

        &:not(:checked)+nav {
            animation: slideOut 0.5s ease-out both;
            pointer-events: none;
        }

        &:checked+nav {
            animation: slideIn 0.5s ease-in both;

            a {
                animation: FadeIn 0.5s ease-out;
                animation-fill-mode: both;
                color: $arancio;
            }

            li {
                animation: FadeIn 0.5s ease-in-out;
                animation-fill-mode: both;
            }

            li:nth-child(1) {
                a {
                    animation-delay: 0.25s
                }
            }

            li:nth-child(2) {
                a {
                    animation-delay: 0.5s
                }
            }

            li:nth-child(3) {
                a {
                    animation-delay: 0.75s
                }
            }

            li:nth-child(4) {
                a {
                    animation-delay: 1.0s
                }
            }

            li:nth-child(5) {
                a {
                    animation-delay: 1.25s
                }
            }
        }
    }
}

@keyframes slideIn {
    0% {
        visibility: visible;
        opacity: 1;
    }

    1% {
        clip-path: circle(25px at 95vw 50px);
    }

    100% {
        clip-path: circle(75%);
    }
}

@keyframes slideOut {
    0% {
        clip-path: circle(75%);
    }

    99% {
        opacity: 1;
        visibility: visible;
        clip-path: circle(25px at 95vw 50px);
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes FadeIn {
    from {
        top: -500px;
    }

    to {
        top: 0px;
    }
}

footer {
    @include default();
    @include flex();

    h6 {
        font-size: 5rem;
        font-weight: bold;
        color: $arancio;
    }
}

#homepage {
    section {
        @include default();
        @include flex();
        position: fixed;
        background-color: black;

        img {
            position: absolute;
            z-index: 1;
            width: 50%;
        }

        video {
            position: absolute;
            height: 100%;
            object-fit: cover;
            filter: brightness(2) grayscale(100%) sepia(100%) hue-rotate(330deg);
        }
    }
}

@mixin intro {
    height: 350vh;
    width: 100vw;
    background-color: burlywood;

    h1 {
        @include spacing();
        @include flex();
        background-color: $arancio;
        color: white;
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 2;
        font-size: 10vw;
        font-weight: bold;
    }

    img {
        position: sticky;
        @include spacing();
        height: 100vh;
        width: 100%;
    }

    article {
        @include flex();
        position: absolute;
        top: 120vh;
        height: 100vh;
        width: 100vw;
        z-index: 2;

        p {
            margin-left: 25vw;
            margin-right: 25vw;
            text-align: left;
            font-weight: 200;
            font-size: 2rem;
            color: white;
        }
    }
}

@mixin section ($scnVh, $topVh) {
    @include spacing();
    height: $scnVh;
    width: 100vw;
    background-color: goldenrod;

    article {
        position: absolute;
        top: $topVh;
        @include flex();
        padding-left: 20vw;
        padding-right: 20vw;
        background-color: $arancio;
        height: 100vh;
        z-index: 3;
    }
}

h2 {
    @include spacing();
    padding-top: 40vh;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    position: sticky;
}

#associazione {
    section {
        @include spacing();
    }

    section:nth-child(1) {
        @include intro();
    }

    section:nth-child(2) {
        @include section(250vh, 500vh);
    }

    section:nth-child(3) {
        @include section(200vh, 700vh);
    }

    section:nth-child(4) {
        @include section(200vh, 900vh);
    }
}

#rappresentanza {
    section {
        @include spacing();
    }

    section:nth-child(1) {
        @include intro();
    }

    section:nth-child(2) {
        @include section(250vh, 500vh);
    }

    section:nth-child(3) {
        @include section(200vh, 700vh);
    }

    section:nth-child(4) {
        @include section(200vh, 900vh);
    }

    section:nth-child(5) {
        @include section(200vh, 1100vh);
    }
}

#notizie {
    section:nth-child(1) {
        @include spacing();
        position: fixed;
        height: 100px;
        width: 100vw;
        z-index: 2;
        background-color: $arancio;

        img {
            position: fixed;
            left: 50vw;
            top: 5.5vh;
            width: 20vw;
            transform: translate(-50%, -50%);
        }
    }

    section:nth-child(2) {
        top: 150px;
        width: 100vw;
        margin-left: 10vw;
        margin-right: 10vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
        position: absolute;

        a {
            width: 20vw;
            height: 14vw;
            border-radius: 20px;
            background-image: url("../assets/bg.jpg");
            background-size: cover;
            @include flex();
            padding-left: 2vw;
            padding-right: 2vw;
            cursor: pointer;

            h4 {
                color: white;
                z-index: 1;
            }
        }
    }
}

#articolo {
    section {
        @include spacing();
        @include flex();
        position: fixed;
        height: 20vh;
        width: 100vw;
        background-color: $arancio;
        color: white;
        font-size: 1.6vw;
        font-weight: bold;
    }

    article {
        margin-top: 300px;
        margin-left: 30vw;
        margin-right: 30vw;
        margin-bottom: 150px;
        ;
        font-size: 1.2rem;
        text-align: justify;
        font-weight: lighter;
    }
}